@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*Main */
/*------------------------------------------*/
a{
    color:white; 
    text-decoration:none;
  &:hover{
    color: black;
  }
}

body {   
       
    font-family: 'Ubuntu', sans-serif; background:#022121;
    background-position:center center;
    background-size:100%;
    color: #121212;
    
    h1{
        margin-top:30px;
        font-family: 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 1px;
        font-weight:bold;
        color: #fff;
        font-size: 22px;
        text-align: center;
        text-shadow: 0px 0px 1px #F5F5F5;
    
        span{
          font-style: italic;
          color: #555;
          font-size:20px;
        }
    }
  
}

img{
opacity:0.5;
width:100%;
height:100%;
}

.separator {
margin-top: 100px;
}

/* top bar */
.top{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    line-height: 24px;
    font-size: 20px;
    background: #000;
    opacity: 0.8;
    z-index: 20;
    color: black;
  span{
    color: black;
    font-size: 15px;
}
}
.top h1{
    position:absolute;
    bottom: -10px;
    left: 10px;
    letter-spacing: 1px;
    text-align: right;
    span{
      color: white;
      font-size: 15px;
    }
}

/*construct the cube*/
#experiment {
  opacity:0.8;
  -webkit-perspective:1400;
  -moz-perspective:1400;
  /*-webkit-perspective-origin: 50% 400px;*/  
  -webkit-perspective-origin: 100px 400px;

  -moz-perspective-origin: 100px 400px;
}
/*set up the position and center of the cube*/
#cube {
  position: relative;
  margin: 100px auto;
  height: 400px;
  width: 400px;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s linear;
  -moz-transform-style: preserve-3d;
}
.face {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
  background-color: black;
}

/*put each cube in the correct position*/
#cube .one  {
  -webkit-transform: rotateX(90deg) translateZ(200px);

  -moz-transform: rotateX(90deg) translateZ(200px);
}

#cube .two {
  -webkit-transform: translateZ(200px);

  -moz-transform: translateZ(200px);
}

#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(200px);

  -moz-transform: rotateY(90deg) translateZ(200px);
}

#cube .four {
  -webkit-transform: rotateY(180deg) translateZ(200px);

  -moz-transform: rotateY(180deg) translateZ(200px);
}

#cube .five {
  -webkit-transform: rotateY(-90deg) translateZ(200px);

  -moz-transform: rotateY(-90deg) translateZ(200px);
}

#cube .six {
  -webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);

  -moz-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
}
